/* global default settings */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* body */

/* Responsive */
@media (min-width: 768px) {
  body {
    /* center align */
    margin: 5px auto 5px auto;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  body {
    /* center align */
    margin: 5px auto 5px auto;
    width: 60%;
  }
}

/* top border */
html {
  border-top-style: solid;
  border-top-color: #f006;
  border-top-width: 5px;
}

body {
  padding: 10px;
  
  /* font */
  /* font-family: Monaco, monospace; */
  font-size: 16px;

  /* line height */
  /* line-height: 1.5; */

  /* background */
  background-image: url('/assets/images/background.jpg');
  background-color: #FFFFFF; /* white background to compatible with background image. */
  /* background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%; */  /* semi-transparent */
  background-position: bottom right;
  background-origin: content-box;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-attachment: fixed, scroll;

  color: #444;
  /* text effect */
  text-shadow: 1px 1px 3px rgba(50, 50, 50, .15);
}

/* selection */
::moz-selection {
  background: #C74451;
  color: white;
}

/* content */
#content {
  width: 90%;
  margin: 20px 20px 0px 20px;
  display: block;
  background-color: rgba(255,255,255,0.6);
  border-radius: 4px;
  padding: 5px 15px 20px 15px;
}

.container {
  margin: 0 auto;
  max-width: 770px;
}

/* headlines */
h2::before, h3::before, h4::before, h5::before, h6::before {
  content: "";
  border-left: 4px solid #C74451;
  padding-left: 10px;
}
h2, h3, h4, h5, h6 {
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: .3em;
  margin-top: .8em;
}
/* first level */
h2 {
  font-size: 25px;
  font-family: 'Lobster', Helvetica, cursive;
}
h3 {
  font-size: 25px;
  font-family: unset;
}
h4 {
  font-size: 20px;
  font-family: unset;
  font-style: oblique;
}
h5, h6 {
  font-size: 15px;
  font-family: unset;
}

/* drawers: properties, logbook, */
/* example block */
pre.example {
  display: block;
  color: #7b7b7b;
  border-color: #ccc;
  font-size: 10px;
  padding: 5px 5px 5px 5px;
  margin: 0 0 10px 20px;
  border-radius: unset;
  box-shadow: none;
  text-shadow: unset;
}

/* MathJax */
div.MathJax_Display {
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 170%;
}
div.MathJax_Display::before {
  content: "| ";
  display: inline;
  position: relative;
  float: left;
  padding-right: 10px;
  color: red;
}

/* preamble */
#preamble {
  color: #888;
}
#preamble:after {
  display: block;
  margin: 10px 0;
  color: #ccc;
}
#preamble a {
  color: #333;
}

/* navigator */
.nav {
  display: table;
  content: " ";
  top: 5px;                     /* leave space for top red border */
  position: fixed;
  background: rgba(255,255,255,0.9) !important;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: pink solid thin;
  transition: all 1s;
}
.nav ul {
  list-style: none;
}
.nav li {
  /* horizontal one line navigator */
  /* display: inline-block; */
  float: left;
  /* larger font */
  font-size: 150%;
  /* separator navigators with larger space */
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* separate with a right border */
  border-right-style: solid;
  border-right-color: #e7e7e780;
  border-right-width: medium;
}
/* don't show underline for navigator links */
.nav li a {
  text-decoration: none;
}

/* org-info.js */
/* HOME/UP */
#org-div-home-and-up {
  float: left;
  text-align: left;
  position: relative;
  /* hide */
  display: none;
}
/* org-info.js navigation */
.org-info-js_info-navigation {
  /* hide */
  /* display: none; */
}
/* infojs search box */
#org-info-js_console-container {
  /* NOTE: remove it, useless */
  display: none;
  float: right;
  text-align: right;
  right: 20%;
  position: relative;
  width: 10%;
  border: 0px solid rgb(204, 204, 204);
}
#org-info-js_console {
  display: none;
}
#org-info-js_console-icon {
  content: "> "
}
#org-info-js_console-label {
  content: url("/assets/images/search.png") no-repeat 5px 6px;
}
#org-info-js_console-input {
  border-radius: 2px;
  border: 1px solid #ddd;
}
#org-info-js_console-input:focus {
  background-color: gray;
  width: 20%;
}

/* bold, italic, inline code */
i, em, b, strong {
  padding-left: .1em;
  padding-right: .1em;
}
b, strong {
  font-weight: bold;
  color: #333;
}
b:before, b:after, strong:before, strong:after {
  content: "*";
}
i:before, i:after, em:before, em:after {
  content: "/";
}

/* horizontal line */
hr {
  margin: 0;
  border: 0;
}
hr:after {
  display: block;
  margin: 10px 0;
  content: "----------------------------------------------------------------";
  color: #ccc;
}

/* list */
ul, ol {
  padding: 0;
  margin: 0 0 20px;
}

/* link */
a {
  text-decoration: underline;
  color: black;
}
a:hover {
  color: #ff6347;
}
a:visited {
  color: gray;
}

/* image */
img {
  display: block;
  margin: 0;
  vertical-align: middle;
  border-radius: 13px;
  box-shadow: 0 0 1em #818181b3;
  width: auto;
}

/* inline image */
figure > img {
  display: block;
  width: 100%;
}

/* kbd */
kbd {
  font-weight: bold;
  
  color: #333333;
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;

  border: 0.5px solid #444444;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(169, 170, 164, 0.9);
  
  /* padding: 2px 8px 1px; */
  /* margin: 0px 2px; */
  display: inline-block;
  
  white-space: nowrap;
}

/* blockquote #+begin_quote */
blockquote {
  padding: .75em .5em .75em 1em;
  margin: 1.5em 0 1.5em -1.5em;

  display: block;
  width: 60%;

  color: #444;
  background: #fff;
  border-left: 0.5em solid #DDD;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  border-radius: 0.5em;

  /* auto wrap */
  word-wrap: break-word;
}
blockquote::before {
  display: block;
  content: "“";
  font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
  height: 0;                    /* don't leave blockquote top empty space because of `content:`. */
  margin-left: -1.2em;
  color: #999;
}
blockquote::after {
}
blockquote p:last-child {
  margin-bottom: 0;
}

/* #+begin_verse */
p.verse {
  padding: .75em .5em .75em 1em;
  margin: 1.5em 0 1.5em -1.5em;

  display: block;
  width: 60%;

  font-size: 18px;

  color: #444;
  background: #fff;
  border-left: 0.5em solid #DDD;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  border-radius: 0.5em;

  /* auto wrap */
  word-wrap: break-word;
}
p.verse::before {
  display: block;
  content: "“";
  font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
  height: 0;                    /* don't leave blockquote top empty space because of `content:`. */
  margin-left: -1.2em;
  color: #999;
}

/* block */
pre {
  display: inline-block;
  margin: 0 0 14px;
  padding: 15px;

  font-family: Monaco, Consolas, "Courier New", monospace;

  text-shadow: 2px 2px 3px rgba(50, 50, 50, .15);

  /* border */
  /* border-style: solid; */
  /* border-width: 1px; */
  border-color: #ccc;
  border-radius: 8px;

  /* shadow */
  box-shadow: inset 2px 2px 2px #80808080;

  /* word wrap */
  word-wrap: break-word;
  
  /* scroll bar */
  overflow-x: auto;
}

/* Org src block */
.org-src-container {
  display: block;
  margin: 0.5em;
  padding: 1px;
  background-color: white;
  text-shadow: 0 0 2px rgba(255,255,255,0.7);
}
pre.src {
  background-color: transparent;
  overflow: auto;
  display: block;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: #ccc;
  margin: 7px 12px 7px 12px;
  padding: 5px;
  box-shadow: unset;
}

/* src block hover language */
pre.src::before, pre.src:hover::before {
  /* always display in fixed postion */
  /* display: inline; */
  
  float: right;
  overflow: visible;
  position: relative;

  top: 2px;
  right: 0px;
  z-index: 2;
  padding: 1px;
  margin: -5px 2px 0px 20px;

  opacity: 0.9;
  color: #ed1c1cb3;
  border: 1px solid gray;
  background-color: white;

  white-space: nowrap;

  font-weight: bolder;
}

/* inline code */
pre > code {
  border-style: solid;
  border-color: #ccc;
  border-radius: 3px;
  /* white neon effect text */
  text-shadow: 0 0 2px rgba(255,255,255,0.7);
}

/* table */
table {
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  width: 80%;
  margin-bottom: 1.5em;
  border-radius: 8px 8px 0 0;
  border-collapse: collapse;
  border-bottom: 1px solid #999;
}
/* table caption */
table caption {
  margin-bottom: 0.75em;
  text-align: center;
  font-style: italic;
}
/* table head */
table thead {
  background-color: #444;
  color: #fff;
}
/* table head text */
tbale thead th {
  border: none;
  padding: 0.4em;
  background: transparent;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
/* table body */
table tbody th {
  border-top: 1px solid #999;
  padding: 0.4em;
  color: #444;
  background-color: #ddd;
  text-align: left;
  font-weight: normal;
}
table tbody td {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 0.4em 0.8em;
  background-color: #fff;
  color: #444;
}
/* transition animation */
th, td {
  transition: background 0.2s linear;
}

/* subscript, superscript */
sup a:before {
  content: "[";
}
sup a:after {
  content: "]";
}

/* org-infojs: table of content */
#table-of-contents {
  position: fixed;
  right: 0em;
  top: 0em;
  padding-right: 5px;

  text-align: right;
  
  -webkit-box-shadow: 0 0 1em #777777;
  -moz-box-shadow: 0 0 1em #777777;
  
  border:1px solid #e1e1e8;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;

  display: block;
  /* ensure doesn't flow off the screen when expanded */
  max-height: 80%;
  overflow: auto;
  z-index: 200;

  /* semi-transparent */
  color: black;
  background: rgba(255,255,255,0.9);
}
#table-of-contents h2 {
  max-width: 20em;
  font-weight: normal;
  padding-left: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}
#table-of-contents ul {
  margin-left: 14pt;
  margin-bottom: 10pt;
  padding: 0
}
#table-of-contents li {
  padding: 0;
  margin: 1px;
  list-style: none;
}
#table-of-contents ul>:first-child {
  color: blue;
}
#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
  display: block;
  padding: 0.5em;
  margin-top: -1.5em;
}

/* form */
input[type=text] {
}
input[type=text]:focus {
}
input[type=submit] {
}

input[type=button]:hover {

}
input[type=button]:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* post */
.post {
  position: relative;
}
.post:after {
  display: block;
  content: "----------------------------------------------------------------";
  color: #ccc;
}
.post img {
  max-width: 100%;
}
.post li {
  list-style: none outside none;
}
.post ul > li:before {
  content: "- ";
  margin-left: -1.25em;
  color: #ccc;
}
.post ol {
  counter-reset: o-list;
}
.post ol > li:before {
  content: counter(o-list) ") ";
  counter-increment: o-list;
  margin-left: -1.85em;
  color: #ccc;
}

/* special for li in pre */
.post pre li {
  list-style-type: decimal;
}
.post pre li:before {
  display: none;
}

/* meta info */
.post-info {
  display: inline-block;
  margin: -10px 0 -10px;
  color: #999;
}
.post-info + .post-info:before {
  content: "\2223 \00a0";
}
.post-meta:after {
  content: "----------------------------------------------------------------";
  display: block;
  margin-top: -1px;
  color: #ccc;
}

/* timestamp */
span.timestamp-wrapper {
  background-color: #f3f3f3cc;
  border: #b7b7b74d solid 1px;
  padding: 4px 2px 2px 0px;
  margin: 0px 2px 0px 2px;
}
.timestamp {
  color: #727272;
}

/* audio */
audio {
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow:  2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:7px 7px 7px 7px ;
}
audio:hover, audio:focus, audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

/* footer */
/* postamble */
footer, #postamble {
  text-align: center;
}
/* "Show Org source" button */
#show_source input[type=button]:hover {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

/* payment */
.payment img {
  display: inline;              /* align horizontally */
  height: 80px;                 /* smaller size like thumb */
}
/* absolute position at left-bottom on page */
#alipay-payment img {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#wechat-payment img {
  position: fixed;
  bottom: 20px;
  left: 100px;
}
#payment-icon img {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 40px;
}
.payment img:hover {
  width: auto;                  /* auto large when hover on */
}

/* Comment */
.comments {
}
/* Disqus */
#comment-policy {
  background-color: inherit;
  font-size: 80%;
  line-height: 1em;
  margin-bottom: 2px;
}
