/* global default settings */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* body */

/* Responsive */
@media (min-width: 768px) {
  body {
    /* center align */
    margin: 5px auto 5px auto;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  body {
    /* center align */
    margin: 5px auto 5px auto;
    width: 60%;
  }
}

/* top border */
html {
  border-top-style: solid;
  border-top-color: #f006;
  border-top-width: 5px;
}

body {
  padding: 10px;
  
  /* font */
  /* font-family: Monaco, monospace; */
  font-size: 12px;

  /* line height */
  /* line-height: 1.5; */
  
  background-image: url('/assets/images/background.jpg');
  background-color: #FFFFFF; /* white background to compatible with background image. */
  /* background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%; */  /* semi-transparent */
  background-position: bottom right;
  background-origin: content-box;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-attachment: fixed, scroll;

  /* text effect */
  text-shadow: 1px 1px 3px rgba(50, 50, 50, .15);
}



/* content */
#content {
  width: 90%;
  margin: 20px 20px 0px 20px;
  display: block;
  background-color: rgba(255,255,255,0.6);
  border-radius: 4px;
  padding: 5px 15px 20px 15px;
}

.container {
  margin: 0 auto;
  max-width: 770px;
}

/* head */

/* headlines */
h2::before, h3::before, h4::before, h5::before, h6::before {
  content: "";
  border-left: 4px solid #C74451;
  padding-left: 10px;
}
h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: .8em;
  margin-top: .8em;
  font-family: 'Lobster',cursive;
}

/* drawers */
pre.example {
  color: #b3b3b3;
  border-color: #ccc;
  font-size: 7px;
  padding: 1px 1px 1px 30px;
  margin: 0 0 10px 10px;
  border-radius: 5px;
  box-shadow: none;
}

/* MathJax */
div.MathJax_Display {
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 170%;
}
div.MathJax_Display::before {
  content: "| ";
  display: inline;
  position: relative;
  float: left;
  padding-right: 10px;
  color: red;
}

/* preamble */
#preamble {
  color: #888;
}
#preamble:after {
  display: block;
  margin: 10px 0;
  color: #ccc;
}
#preamble a {
  color: #333;
}

/* navigator */
.nav {
  display: table;
  content: " ";
  top: 5px;                     /* leave space for top red border */
  position: fixed;
  background: rgba(255,255,255,0.9) !important;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: pink solid thin;
  transition: all 1s;
}
.nav ul {
  list-style: none;
}
.nav li {
  /* horizontal one line navigator */
  /* display: inline-block; */
  float: left;
  /* larger font */
  font-size: 150%;
  /* separator navigators with larger space */
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* separate with a right border */
  border-right-style: solid;
  border-right-color: #e7e7e780;
  border-right-width: medium;
}
/* don't show underline for navigator links */
.nav li a {
  text-decoration: none;
}

/* org-info.js */
/* HOME/UP */
#org-div-home-and-up {
  float: left;
  text-align: left;
  position: relative;
  /* hide */
  display: none;
}
/* org-info.js navigation */
.org-info-js_info-navigation {
  /* hide */
  /* display: none; */
}
/* infojs search box */
#org-info-js_console-container {
  /* NOTE: remove it, useless */
  display: none;
  float: right;
  text-align: right;
  right: 20%;
  position: relative;
  width: 10%;
  border: 0px solid rgb(204, 204, 204);
}
#org-info-js_console {
  display: none;
}
#org-info-js_console-icon {
  content: "> "
}
#org-info-js_console-label {
  content: url("/assets/images/search.png") no-repeat 5px 6px;
}
#org-info-js_console-input {
  border-radius: 2px;
  border: 1px solid #ddd;
}
#org-info-js_console-input:focus {
  background-color: gray;
  width: 20%;
}

/* bold, italic, inline code */
i, em, b, strong {
  padding-left: .1em;
  padding-right: .1em;
}
b, strong {
  font-weight: bold;
  color: #333;
}
b:before, b:after, strong:before, strong:after {
  content: "*";
}
i:before, i:after, em:before, em:after {
  content: "/";
}

/* horizontal line */
hr {
  margin: 0;
  border: 0;
}
hr:after {
  display: block;
  margin: 10px 0;
  content: "----------------------------------------------------------------";
  color: #ccc;
}

/* list */
ul, ol {
  padding: 0;
  margin: 0 0 20px;
}

/* link */
a {
  text-decoration: underline;
  color: black;
}
a:hover {
  color: #ff6347;
}
a:visited {
  color: gray;
}

/* image */
img {
  display: block;
  margin: 0;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 0 0 0.7em pink;
  width: auto;
}

figure > img {
  display: block;
}

/* kbd */
kbd {
  font-weight: bold;
  
  color: #333333;
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;

  border: 0.5px solid #444444;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(169, 170, 164, 0.9);
  
  /* padding: 2px 8px 1px; */
  /* margin: 0px 2px; */
  display: inline-block;
  
  white-space: nowrap;
}

/* blockquote */
blockquote {
  font-style: italic;
  font-size: 15px;
  padding: 0 0 0 20px;
  margin: 0 30px 20px -22.5px;

  /* color: gray; */
  /* border-left: 4px solid gray; */

  color: #999;
  border-left: 8px solid #e5e5e5;

  text-shadow: 2px 2px 3px rgba(50, 50, 50, .15);
}
blockquote::before {
  content: "☞";
  color: gray;
  position: relative;
}
blockquote::after {
}
blockquote p:last-child {
  margin-bottom: 0;
}

/* block */
pre {
  display: inline-block;
  margin: 0 0 14px;
  padding: 15px;

  font-family: Monaco, Consolas, "Courier New", monospace;

  text-shadow: 2px 2px 3px rgba(50, 50, 50, .15);

  /* border */
  /* border-style: solid; */
  /* border-width: 1px; */
  border-color: #ccc;
  border-radius: 8px;

  /* shadow */
  box-shadow: inset 2px 2px 2px #80808080;

  /* auto wrap */
  white-space: pre-wrap;

  /* word wrap */
  word-break: break-all;
  word-wrap: break-word;
  
  /* scroll bar */
  overflow-x: auto;
}

/* Org src block */
div.org-src-container {
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
  margin: 0px 30px;
  padding: 1px;
  background-color: white;
  text-shadow: 0 0 2px rgba(255,255,255,0.7);
}
pre.src {
  background-color: transparent;
  overflow: auto;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-radius: unset;
  border-color: #ccc;
  margin: 7px 12px 7px 12px;
  padding: 5px;
  box-shadow: unset;
}

/* src block hover language */
pre.src::before, pre.src:hover::before {
  /* content: "lang"; */
  
  display: inline;
  float: right;
  overflow: visible;
  position: relative;

  top: 2px;
  right: 0px;
  z-index: 2;
  padding: 1px;
  margin: -5px 2px 0px 20px;

  opacity: 0.9;
  color: black;
  border: 1px solid black;
  background-colo: transparent;

  white-space: nowrap;
}

/* inline code */
pre > code {
  border-style: solid;
  border-color: #ccc;
  border-radius: 3px;
  /* white neon effect text */
  text-shadow: 0 0 2px rgba(255,255,255,0.7);
}

/* table */
table {
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
}
table thead {
  background-color: #7575751a;
}
table td, table th {
  padding: 2px 5px;
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
}
table th.left, table td.left {
  text-align: left;
}
table th.right, table td.right {
  text-align: right;
}

/* org-verse */
p.verse {
  margin-left: 10%;
  padding: 10px 20px 10px 20px;
  color: #000000b3;
  background-color: #d3d3d34d;
  width: 50%;
  border: solid 1px transparent;
  font-size: 18px;
}

/* subscript, superscript */
sup a:before {
  content: "[";
}
sup a:after {
  content: "]";
}

/* org-infojs: table of content */
#table-of-contents {
  position: fixed;
  right: 0em;
  top: 0em;

  text-align: right;
  
  -webkit-box-shadow: 0 0 1em #777777;
  -moz-box-shadow: 0 0 1em #777777;
  
  border:1px solid #e1e1e8;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;

  display: block;
  /* ensure doesn't flow off the screen when expanded */
  max-height: 80%;
  overflow: auto;
  z-index: 200;

  /* semi-transparent */
  color: black;
  background: rgba(255,255,255,0.9);
}
#table-of-contents h2 {
  max-width: 20em;
  font-weight: normal;
  padding-left: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}
#table-of-contents ul {
  margin-left: 14pt;
  margin-bottom: 10pt;
  padding: 0
}
#table-of-contents li {
  padding: 0;
  margin: 1px;
  list-style: none;
}
#table-of-contents ul>:first-child {
  color: blue;
}
#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
  display: block;
  padding: 0.5em;
  margin-top: -1.5em;
}

/* post */
.post {
  position: relative;
}
.post:after {
  display: block;
  content: "----------------------------------------------------------------";
  color: #ccc;
}
.post img {
  max-width: 100%;
}
.post li {
  list-style: none outside none;
}
.post ul > li:before {
  content: "- ";
  margin-left: -1.25em;
  color: #ccc;
}
.post ol {
  counter-reset: o-list;
}
.post ol > li:before {
  content: counter(o-list) ") ";
  counter-increment: o-list;
  margin-left: -1.85em;
  color: #ccc;
}

/* special for li in pre */
.post pre li {
  list-style-type: decimal;
}
.post pre li:before {
  display: none;
}

/* meta info */
.post-info {
  display: inline-block;
  margin: -10px 0 -10px;
  color: #999;
}
.post-info + .post-info:before {
  content: "\2223 \00a0";
}
.post-meta:after {
  content: "----------------------------------------------------------------";
  display: block;
  margin-top: -1px;
  color: #ccc;
}

/* footer */
/* postamble */
footer, #postamble {
  text-align: center;
  font-size: 15px;
  color: #999;
}
/* Show Org source */
#show_source {

}

/* payment */
.payment img {
  display: inline;              /* align horizontally */
  height: 50px;                 /* smaller size like thumb */
}
/* absolute position at left-bottom on page */
#alipay-payment img {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#wechat-payment img {
  position: fixed;
  bottom: 20px;
  left: 100px;
}
#payment-icon img {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 30px;
}
.payment img:hover {
  width: auto;                  /* auto large when hover on */
}

/* Comment */
.comments {
}
/* Disqus */
#comment-policy {
  background-color: inherit;
  font-size: 80%;
  line-height: 1em;
  margin-bottom: 2px;
}
