/* global default settings */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* body */

/* Responsive */
@media (min-width: 768px) {
  body {
    /* center align */
    margin: 5px auto 5px auto;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  body {
    /* center align */
    margin: 5px auto 5px auto;
    width: 80%;
  }
}

body {
  padding: 10px;

  /* font */
  /* font-family: Monaco, monospace; */
  font-size: 16px;

  /* line height */
  /* line-height: 1.5; */

  /* background */
  background-image: url('/assets/images/background.jpg');
  background-color: #FFFFFF; /* white background to compatible with background image. */
  /* background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%; */  /* semi-transparent */
  background-position: bottom right;
  background-origin: content-box;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-attachment: fixed, scroll;
}

/* text effect */
body {
  color: #444;
  text-shadow: 1px 1px 3px rgba(50, 50, 50, .15);
}
p {
  text-shadow: none;
}

/* content */
#content {
  width: 90%;
  margin: 20px 20px 0px 20px;
  display: block;
  background-color: rgba(255,255,255,0.6);
  border-radius: 4px;
  padding: 5px 15px 20px 15px;
  /* content line spacing */
  line-height: 1.875;
}

.container {
  margin: 0 auto;
  max-width: 770px;
}

/* avatar */
img#avatar {
  float: left;
  display: inline-block;
  visibility: visible;
  width: 200px;
  margin-right: 40px;
  filter: blur(3px);
  transform: rotate(-6deg);
  transition: all .3s ease;
}
img#avatar:hover {
  filter: blur(0px);
  transform: rotate(8deg);
  transition: all .3s ease;
}

/* preamble */
#preamble {
  color: #888;
}
#preamble:after {
  display: block;
  margin: 10px 0;
  color: #ccc;
}
#preamble a {
  color: #333;
}

/* epilogue */
#preamble .epilogue {
  color: #8080800f;
  float: right;
}

/* navigator */
#preamble .nav {
  /* background: rgba(255,255,255,0.9) !important; */
  opacity: 1;
  transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
  transform: translateY(0px);
  box-shadow: 0 4px 10px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 30;
  padding: 20px 20px 0px 20px;
}
.nav ul {
  list-style: none;
}
.nav li {
  /* horizontal one line navigator */
  display: inline-flex;
  /* larger font */
  font-size: 150%;
  /* separator navigators with larger space */
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* don't show underline for navigator links */
.nav li a {
  text-decoration: none;
}

/* About page navigator */
#animationWords {
  display: inline-block;
  /* animation: swingDown 0.75s ease; */
  animation-name: swingDown;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  transform: rotate(-7.5deg);
  transform-origin: bottom right;
  text-wrap: balance;
}
#animationWords:hover {
  animation: pushUp 0.5s;
  transform: rotate(0deg);
}

/* org-info.js */
/* HOME/UP */
#org-div-home-and-up {
  float: left;
  text-align: left;
  position: relative;
  /* hide */
  display: none;
}
/* org-info.js navigation */
.org-info-js_info-navigation {
  /* hide */
  /* display: none; */
}
/* infojs search box */
#org-info-js_console-container {
  /* NOTE: remove it, useless */
  display: none;
  float: right;
  text-align: right;
  right: 20%;
  position: relative;
  width: 10%;
  border: 0px solid rgb(204, 204, 204);
}
#org-info-js_console {
  display: none;
}
#org-info-js_console-icon {
  content: "> "
}
#org-info-js_console-label {
  content: url("/assets/images/search.png") no-repeat 5px 6px;
}
#org-info-js_console-input {
  border-radius: 2px;
  border: 1px solid #ddd;
}
#org-info-js_console-input:focus {
  background-color: gray;
  width: 20%;
}

/* MathJax */
div.MathJax_Display {
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 170%;
}
div.MathJax_Display::before {
  content: "| ";
  display: inline;
  position: relative;
  float: left;
  padding-right: 10px;
  color: red;
}

/* bold, italic, inline code */
i, em, b, strong {
  padding-left: .1em;
  padding-right: .1em;
}
b, strong {
  font-weight: bold;
  color: #333;
}
b:before, b:after, strong:before, strong:after {
  content: "*";
}
i:before, i:after, em:before, em:after {
  content: "/";
}

/* horizontal line */
hr {
  margin: 0;
  border: 0;
}
hr:after {
  display: block;
  margin: 10px 0;
  content: "----------------------------------------------------------------";
  color: #ccc;
}

/* list */
ul, ol {
  padding: 0;
  margin: 0 0 20px;
}

/* link */
a {
  color: black;
  border-bottom-color: 1px solid #7a7a7a;
}
a:hover {
  color: #333333;
  background-color: rgb(251 159 192 / 30%);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  border-bottom-color: #fcc1d2;
  padding: 2px 4px;
  margin: -2px -4px;
  border-radius: 4px;
  transition: all .1s ease;
}
a:visited {
  color: gray;
}

div#nav a:hover {
  color: #333333;
  background-color: rgb(251 159 192 / 30%);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  border-bottom-color: #fcc1d2;
  padding: 2px 4px;
  margin: -2px -4px;
  border-radius: 4px;
  transition: all .2s ease;
}

/* changing text box shadow animation on hover */
div#content a {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 2px inset rgb(223 223 223 / 85%);
}
div#content a:hover {
  color: #333333;
  background-color: rgb(251 159 192 / 30%);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  border-bottom-color: #f881ad;
  padding: 2px 4px;
  margin: -2px -4px;
  border-radius: 4px;
  transition: all .1s ease;
}

/* image */
img {
  display: block;
  margin: 0;
  vertical-align: middle;
  border-radius: 13px;
  border: 3px solid white;
  box-shadow: 12px 10px 1px -3px whitesmoke;
}
body img {
    width: 100%;
}

/* inline image */
div.figure {
  display: block;
  width: 100%;
}

/* linked .svg image */
.org-svg {
}

/* kbd */
kbd {
  font-family: ui-sans-serif;
  font-weight: bold;
  color: #333333;
  background: rgb(9 215 255 / 66%) none repeat scroll 0% 0%;
  border: 0.5px solid #444444;
  border-radius: 3px;
  box-shadow: 2px 4px 4px rgb(50 215 255 / 81%);
  padding: 2px 4px 2px;
  margin: 0px 2px;
  white-space: nowrap;
}

/* blockquote #+begin_quote */
blockquote {
  padding: .75em .5em .75em 1em;
  margin: 1.5em 0 1.5em -1.5em;

  display: block;
  width: 60%;

  color: #444;
  background: #fff;
  border-left: 0.5em solid #DDD;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  border-radius: 0.5em;

  /* auto wrap */
  word-wrap: break-word;
}
blockquote::before {
  display: block;
  content: "“";
  font: 400%/1 Cochin,Georgia,"Times New Roman", serif;
  height: 0;                    /* don't leave blockquote top empty space because of `content:`. */
  margin-left: -1.2em;
  color: #999;
}
blockquote::after {
}
blockquote p:last-child {
  margin-bottom: 0;
}

/* #+begin_verse */
p.verse {
  padding: .75em .5em .75em 1em;
  margin: 1.5em 0 1.5em -1.5em;

  display: block;
  width: 60%;

  font-size: 18px;

  color: #444;
  background: #f1f1f1;
  border-left: 0.5em solid #DDD;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  border-radius: 0.5em;

  /* auto wrap */
  word-wrap: break-word;
}
p.verse::before {
  display: block;
  content: "“";
  font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
  height: 0;                    /* don't leave blockquote top empty space because of `content:`. */
  margin-left: -1.2em;
  color: #999;
}

/* block */
pre {
  display: inline-block;
  margin: 0 0 14px;
  padding: 15px;

  font-family: Monaco, Consolas, "Courier New", monospace;

  text-shadow: 2px 2px 3px rgba(50, 50, 50, .15);

  /* border */
  /* border-style: solid; */
  /* border-width: 1px; */
  border-color: #ccc;
  border-radius: 8px;

  /* shadow */
  box-shadow: inset 2px 2px 2px #80808080;

  /* word wrap */
  word-wrap: break-word;

  /* scroll bar */
  overflow-x: auto;
}

/* source block */
.org-src-container {
  display: block;
  margin: 0.5em;
  padding: 1px;
  background-color: white;
  text-shadow: 0 0 2px rgba(255,255,255,0.7);
}
pre.src {
  background-color: transparent;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: #ccc;
  margin: 7px 12px 7px 12px;
  padding: 10px;
  box-shadow: unset;

  /* expand src block width to body width */
  display: block;
  /* auto use scroll-bar for over-length code. */
  overflow: auto; /* This also cause lang widget can't display overflow on source block. */
}
/* line number in code example */
.linenr {
}

/* source block hover language */
pre.src::before {
  display: none;
}
pre.src:hover::before {
  display: inline;
  float: right;
  overflow: visible;
  top: 5px;

  opacity: 0.9;
  color: #ed1c1cb3;
  border: 1px solid gray;
  background-color: white;
  font-weight: bolder;

  white-space: nowrap;
}

/* coderef highlighted code lines */
.code-highlighted {
  background-color: "yellow";
}

/* inline code */
div code, p > code {
  color: #333333;
  background: rgb(154 253 233 / 60%) none repeat scroll 0% 0%;
  border: 0.5px solid #444444;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(0 249 255 / 72%);
  padding: 2px 4px 2px;
  margin: 0px 2px;
  white-space: nowrap;
}

/* code block */
pre > code {
  /* white neon effect text */
  text-shadow: 0 0 2px rgba(255,255,255,0.7);
}

/* drawers: properties, logbook, */
/* example block */
pre.example {
  display: flex;
  justify-content: flex-start;
  color: #0000006e;
  border-color: #e5e5e5c2;
  font-size: 0.7rem;
  padding: 4px 10px 4px 10px;
  margin: 4px 400px 10px 50px;
  border-radius: 4px;
  box-shadow: none;
  text-shadow: none;
}

/* table */
table {
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  width: 80%;
  margin-bottom: 1.5em;
  border-radius: 8px 8px 0 0;
  border-collapse: collapse;
  border-bottom: 1px solid #999;
}
/* table caption */
table caption {
  margin-bottom: 0.75em;
  text-align: center;
  font-style: italic;
}
/* table head */
table thead {
  background-color: #444;
  color: #fff;
}
/* table head text */
tbale thead th {
  border: none;
  padding: 0.4em;
  background: transparent;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
/* table body */
table tbody th {
  border-top: 1px solid #999;
  padding: 0.4em;
  color: #444;
  background-color: #ddd;
  text-align: left;
  font-weight: normal;
}
table tbody td {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 0.4em 0.8em;
  background-color: #fff;
  color: #444;
}
/* transition animation */
th, td {
  transition: background 0.2s linear;
}
/* table number like "Table 1:" */
.table-number {
}
/* figure label number like "Figure 1:" */
.figure-number {
}
/* listing label number like "Listing 1:" */
.figure-number {
}

/* subscript, superscript */
sup a:before {
  content: "[";
}
sup a:after {
  content: "]";
}

/* org-infojs: table of content */
#table-of-contents {
  position: fixed;
  right: 0em;
  top: 0em;
  padding-right: 5px;

  text-align: right;

  box-shadow: 0 0 1em #777777;

  border:1px solid #e1e1e8;
  border-bottom-left-radius: 5px;

  display: block;
  /* ensure doesn't flow off the screen when expanded */
  max-height: 80%;
  overflow: auto;
  z-index: 200;

  /* semi-transparent */
  color: black;
  background: rgba(255,255,255,0.9);
}
#table-of-contents h2 {
  max-width: 20em;
  font-weight: normal;
  padding-left: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}
#table-of-contents ul {
  margin-left: 14pt;
  margin-bottom: 10pt;
  padding: 0
}
#table-of-contents li {
  padding: 0;
  margin: 1px;
  list-style: none;
}
#table-of-contents ul>:first-child {
  color: blue;
}
#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
  display: block;
  padding: 0.5em;
  margin-top: -1.5em;
}

/* form */
input[type=text] {
}
input[type=text]:focus {
}
input[type=submit] {
}

input[type=button]:hover {

}
input[type=button]:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* post */
.post {
  position: relative;
}
.post:after {
  display: block;
  content: "----------------------------------------------------------------";
  color: #ccc;
}
.post img {
  max-width: 100%;
}
.post li {
  list-style: none outside none;
}
.post ul > li:before {
  content: "- ";
  margin-left: -1.25em;
  color: #ccc;
}
.post ol {
  counter-reset: o-list;
}
.post ol > li:before {
  content: counter(o-list) ") ";
  counter-increment: o-list;
  margin-left: -1.85em;
  color: #ccc;
}

/* special for li in pre */
.post pre li {
  list-style-type: decimal;
}
.post pre li:before {
  display: none;
}

/* meta info */
.post-info {
  display: inline-block;
  margin: -10px 0 -10px;
  color: #999;
}
.post-info + .post-info:before {
  content: "\2223 \00a0";
}
.post-meta:after {
  content: "----------------------------------------------------------------";
  display: block;
  margin-top: -1px;
  color: #ccc;
}

/* active/inactive timestamp */
.timestamp-wrapper {
  background-color: #f3f3f3ad;
  border: 1px dashed #3b03f759;
  padding: 2px;
  margin: 2px;
}
.timestamp-kwd {
}
time.timestamp {
  color: #5f5f5fcc;
}

/* audio */
audio {
  transition:all 0.5s linear;
  border-radius: 4px 4px 4px 4px;
  height: 35px;
  width: 350px;
}
audio:hover, audio:focus, audio:active {
  transform: scale(1.05);
}

/* headlines */

/* colorful headline levels */
h2::before {
  content: "1. ";
  display: inline;
  /* float: left; */
  border-left: 0.5rem solid #FF657C;
  padding-left: 10px;
}
h3::before {
  content: "2. ";
  display: inline;
  border-left: 1rem solid #93FF72;
  padding-left: 10px;
  margin-left: 20px;
}
h4::before {
  content: "3. ";
  display: inline;
  border-left: 2rem solid #FDFF70;
  padding-left: 10px;
  margin-left: 40px;
}
h5::before {
  content: "4. ";
  display: inline;
  border-left: 3rem solid #81E8FF;
  padding-left: 10px;
  margin-left: 60px;
}
h6::before {
  content: "5. ";
  display: inline;
  border-left: 4rem solid #F290FF;
  padding-left: 10px;
  margin-left: 80px;
}

/* headline size */
h2, h3, h4, h5, h6 {
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: .3em;
  margin-top: .8em;
}
/* first level */
h2 {
  font-size: 30px;
  font-family: 'Lobster', Helvetica, cursive;
  font-weight: bolder;
}
h3 {
  font-size: 20px;
  font-family: unset;
  font-weight: bold;
}
h4 {
  font-size: 20px;
  font-family: unset;
  font-style: oblique;
}
h5, h6 {
  font-size: 15px;
  font-family: unset;
}

/* add border line for outline blocks */
div.outline-3 {
  border: solid thin #8080802b;
  padding: 0.5em 2em 0.5em 2em;
  margin: 1em;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}
div.outline-4 {
  border: solid thin #8080802b;
  padding: 0.5em 2em 0.5em 2em;
  margin: 1em;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}
div.outline-5 {
  border: solid thin #8080802b;
  padding: 0.5em 2em 0.5em 2em;
  margin: 1em;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

/* headline sections */
div.outline-1 {
}
div.outline-text-1 {
}
.section-number-1 a {
  border-bottom: none;
}
.section-number-2 a {
  border-bottom: none;
}

/* tag in headline */
span.tag {
  font-size: small;
  color: gray;
  background-color: white;
  margin-left: 20px;
}

/* display "#" symbol before tags */
span.tag span.__::before {
  content: "#";
  display: inline-block;
  color: lightgray;
}

/* jump to beginning */
#scrollTopButton {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 2px solid rgb(254 123 167 / 50%);
  box-shadow: 12px 10px 1px -3px whitesmoke;
  outline: none;
  background-color: #db898959;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#scrollTopButton:hover {
  background-color: pink;
}

/* left bottom corner payment icon */
.payment {
}
/* 打赏 icon "assets/images/reward-icon.png" */
#payment-icon img {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: block;
  height: 80px;
  width: 80px;
}
#payment-icon img:hover {
  /* auto large when hover on */
  height: 100px;
  width: 100px;
  transition: all .8s ease;
  transform: rotate(1turn);
}
/* absolute position at left-bottom on page */
#alipay-payment img {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#wechat-payment img {
  position: fixed;
  bottom: 20px;
  left: 100px;
}
#payment-icon img {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 40px;
}
/* 打赏 button */
#donateButton {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  border: 2px solid rgb(254 123 167 / 50%);
  box-shadow: 12px 10px 1px -3px whitesmoke;
  outline: none;
  background-color: #db898959;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#donateButton:hover {
  background-color: pink;
  transform: scale(1.5);
  transition: all .3s ease;
}

/* payment section in About page: qrcode of alipay & wechat */
#payment-qr {
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  /* min-height: auto; */
  margin: 5px 5px 5px;
}
#payment-alipay {
  width: 200px;
}
div#payment-wechat {
  width: 200px;
}

/* Comment */
.comments {
}

/* Sidenote */
/* reference: https://karthinks.com/software/cool-your-heels-emacs/ */
.sidenote {
  font-size: 80%;
  position: relative;
}

/* Wide viewport */
@media (min-width: 1366px) {
  .sidenote {
    float: left;
    clear: left;
    margin-left: -23vw;
    text-align: right;
    top: -3rem;
    width: 20vw;
    margin-top: 1rem;
  }
  /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
  .sidenote-number:hover .sidenote {
    background-color: yellow;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
  .column {
    float: left;
    width: 50.0%;
    padding: 5px;
  }
  .wide {
    width: min(60vw,1366px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .alignright {
    float: right;
    padding-left: 6px;
  }
  .alignleft {
    float: left;
    padding-right: 6px;
  }
}

/* Narrow viewport */
@media (max-width: 1366px) {
  .sidenote {
    float: left;
    text-align: left;
    width: 100%;
    margin: 1rem 0;
    padding-left: 15%;
  }
  .wide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column {
    width: 75%;
    padding: 8px;
  }
}

/* Sidenote counter */
body {
  counter-reset: sidenote-counter;
}
.sidenote-number {
  counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
  content: counter(sidenote-counter)".";
  position: relative;
  vertical-align: baseline;
  font-size: 0.9em;
  font-weight: bold;
}
/* Counter in the main body. */
.sidenote-number::after {
  content: counter(sidenote-counter);
  vertical-align: super;
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 0.1rem;
  margin-left: -0.2rem;
}

/* Footnote */
/* footnote reference */
.footref {
  vertical-align: super;
  font-size: smaller;
  color: hotpink;
}
/* footnote definition */
.footdef {
  margin-bottom: unset;
}
/* footnote number */
.footnum {
  color: hotpink;
  border-bottom: none;
}
/* footnote doc */
.footpara {
}

/* footer */
/* postamble */
#postamble footer {
  margin-top: 1em;
  text-align: center;
  color: #00000047;
}
#postamble footer a {
  color: #00000066;
}
/* "Show Org source" button */
#show_source input[type=button] {
  background: white;
  opacity: 2;
  border: 1px solid;
  border-radius: 4px;
  height: 1.5rem;
  margin-top: 5px;
}
#show_source input[type=button]:hover {
  box-shadow: 5px 5px 5px 0 rgb(249 0 36 / 35%), 5px 5px 5px 0 rgb(249 0 0 / 39%);
}

/* Disqus */
#comment-policy {
  background-color: inherit;
  font-size: 80%;
  line-height: 1em;
  margin-bottom: 2px;
}
